*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

#logo{
    width: 7%;
    margin-top: 5px;
    margin-left: 14px; 
}

body{

    background: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cabecalho{
    width: 100%;
    background: #171717;
    height: 100px;
    margin-bottom:50px;
    padding: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.logo{
    margin-left: 15px;
    color: white;
}
.cabecalho .botoes-navegar a{
    color: white;
}

.botoes-navegar{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    transition: .2s ease all;
    margin-right: 15px;
}

.botoes-navegar li{
    display: inline-flex;
    padding: 2px 15px;
    
}

.botoes-navegar a:hover{
    color: #DD1700;
    transition: .2s ease all;
}

main #inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main div .texto-informacao{
    font-size: 40px;
    font-weight: 700;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    color: white;
    margin-bottom: 25px;
}

main div .contador{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main div #dday{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 300px;
    height: 100px;
    background-color: white;
    border: 3px solid black;
    font-size: 36px;
    color: black;
    padding: 5px 15px;
    border-radius: 40px;
    transition: .2s ease all;   
}

main div #dday:hover{
    color: white;
    background-color: black;
    border-color: white;  
    transition: .2s ease all;
}

.contador h2{
    margin-bottom: 7px;
    font-weight: 400;
    color: white;
    text-align: center;
}

hr{
    border-color:rgba(0, 0, 0, .3);
    box-sizing:border-box;
    width:80%;
    margin: 50px auto;
    display: block;
  }

.rodape{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #171717;
    position: static;
    bottom: 0;
    height: 80px;
    width: 100%;
}
.botoes-contato{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 25px;
}

.botoes-contato .contato a{
    color: #555555;
    transition: all .2s;
}
.botoes-contato .contato a:hover{
    color: #bdbdbd;
    transition: all .2s;
}

.botoes-contato .contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 20px;  
}

.rodape p{
    color: #555555;
    font-size: 12px;
    margin-right: 25px;

}









